</div>

<section class="products-page-header neutral-dark-background">
	<div class="row">
		<div class="container wide-container products-heading-wrapper" >
			<div class="col-xs-12">
				<h1 class="text-center uppercase white">All Product Categories</h1>
			</div>
		</div>
	</div>
</section>

<div class="categories-wrapper">
		<div class="container">
			[%thumb_list type:'content' content_type:'category' template:'category' limit:'12' sortby:'sortorder-desc' filter_category:''%]
				[%param *header%]
				<div class="row row-padded">
					<div class="homepage-categories">
				[%/param%]
				[%param *footer%]
            		</div>
            	</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="pagination-container">
							<div class="geometric-pagination text-center">
								<hr class="center-absolute no-margins pagination-strikethrough tertiary">
								[%paging limit:'3'%]
									[%PARAM *previous_page%]
										<div class="no-padding text-left pagination-child pull-left">
											<a href="[@url@]"><button class="pagination-prev btn tertiary-btn-ghost-white"><i class="fa fa-angle-left"></i><span class="pagination-label">Previous Page</span></button></a>
										</div>
									[%/PARAM%]
								
									[%PARAM *goback_pages%]
										<div class="pagination-child">
											<a href="[@url@]"><button class="pagination-center go-back btn tertiary-btn-ghost-white">[@PAGE@]</button></a>
										</div>
									[%/PARAM%]
								
									[%PARAM *current_page%]
										<div class="active pagination-child">
											<a href="[@url@]"><button class="pagination-center btn tertiary-btn-solid">[@PAGE@]</button></a>
										</div>
									[%/PARAM%]

									[%PARAM *gonext_pages%]
										<div class="pagination-child">
											<a href="[@url@]"><button class="pagination-center go-forward btn tertiary-btn-ghost-white">[@PAGE@]</button></a>
										</div>
									[%/PARAM%] 
									
									[%PARAM *next_page%]
										<div class="no-padding text-right pagination-child pull-right">
											<a href="[@url@]"><button class="pagination-next btn tertiary-btn-ghost-white"><span class="pagination-label">Next Page </span><i class="fa fa-angle-right"></i></button></a>
										</div>
									[%/PARAM%]
								[%/paging%]
							</div>
						</div>
				</div>
			</div>
			[%/param%]
				[%param *ifempty%]
					No Results Found!
				[%/param%]
    		[%/thumb_list%] 
		</div>
</div>