body {
  overflow: hidden;
  font-size: 16px;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.btn {
  font-size: 16px;
}

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/********************* Document Styles ********************/

@media only screen and (min-width: 992px) {
  .container.wide-container {
    min-width: 75%;
    overflow: hidden;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Prevent any scrollbars */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: auto;
}

a:hover {
  text-decoration: none;
}

.spacer {
  height: 20px;
  width: 100%;
}

.fadeInUp {
  -webkit-animation: fadeInUp 0.3s; /* Safari 4+ */
  -moz-animation: fadeInUp 0.3s; /* Fx 5+ */
  -o-animation: fadeInUp 0.3s;
  animation: fadeInUp 0.3s;
}

.small,
.small a,
.small a:active,
.small a:hover {
  font-size: 14px;
}

/***********END DOCUMENT STYLES***************/

/***********HEADER STYLES********************/

#main-content.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.geometric-centre {
  width: 80%;
  margin: 0 auto;
}

.homepage-carousel-wrapper .slick-slider {
  background: #f9f9f9; /*This only displays when loading*/
}

.slick-slide {
  position: relative;
}

/* Now that slider is initialized we can show the styles again */

.slick-slider.slick-initialized {
  background: none;
}
.slick-slider.slick-initialized .slick-list {
  opacity: 1;
  position: relative;
  transition: opacity 0.2s ease-in;
}

.slick-slider.slick-initialized .carousel-caption {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  position: initial;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev,
.slick-next {
  z-index: 100;
}

@media only screen and (min-width: 767px) {
  .slick-prev,
  .slick-next {
    transform: scale(2);
  }
}

.slick-list {
  padding-bottom: 15px !important;
}

/********************END HEADER STYLES************************************/

/***********SIDEBAR****************/

#header-cart {
  position: unset;
}

.wishlist-items {
  position: relative;
}

.wishlist-refresh-icon {
  padding-left: 5px;
}

.wishlist-thumbs .wishlist-remove .fa-heart-o {
  display: none;
}

.thumbnail-price.list-view {
  font-size: 30px;
}

#background-overlay {
  transition: ease 0.5s;
}

.overlay-applied {
  height: 105%;
  width: 105%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all ease 0.5s;
  z-index: 7000;
}

.slideoutSideNav {
  height: 100%;
  width: 75%; /* This width, when added to the 'left' value in the click event for this element in the header.html template, must equal 100% */
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 9950;
  overflow: visible !important; /* Important tag is required to work in IE - Not sure why. */
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 767px) {
  .slideoutSideNav {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .slideoutSideNav {
    width: 30%;
  }
}

@media only screen and (min-width: 1400px) {
  .slideoutSideNav {
    width: 25%;
  }
}

.sidebar-container {
  height: 100%;
  overflow: auto;
}

.slideoutSideNav a {
  text-decoration: none;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */

.slideoutSideNav .closebtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/*************END SIDEBAR ****************/

/****************** MOBILE MENU **************************/

i.mobile-menu-icon {
  font-size: 23px;
}

.mob-menu-bar p {
  font-size: 12px;
  margin: 0;
  padding-bottom: 0;
  margin-top: -5px;
}

.navbar-header-mobile {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 99999;
}

@media only screen and (min-width: 767px) {
  .navbar-header-mobile {
    display: none;
  }
}

.nMobileNav {
  margin-top: 3px;
  margin-bottom: 3px;
}

.b_overflow {
  overflow: hidden;
}

.mob-menu-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.mobile-menu {
  text-align: center;
  padding: 5px;
}

.sidenav-wrapper {
  transition: 0.3s;
  z-index: 8000;
}

.open-menu-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 9990;
  background-color: rgba(0, 0, 0, 0.57);
}

.sidenav {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: -71%;
  background-color: #ffffff;
  overflow: visible;
  padding: 0px;
  transition: 0.3s;
  overflow-y: visible;
}

.mob-menu-bar.mobile-menu-icons {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  left: -65px;
  bottom: 5px;
  padding: 0;
}

@media only screen and (min-width: 767px) {
  .sidenav {
    display: none;
  }
}

.open-menu {
  right: 0%;
}

.sidenav .navbar-nav {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-y: auto;
}

.sidenav li {
  display: block;
}

#mySidenav .navbar-nav.menu-closed {
  display: initial;
}

.mob-menu-items {
  margin-bottom: 45px;
}

li.mobile-second-lvl:last-child,
li.mobile-third-lvl:last-child {
  border-bottom: none;
}

#mob-menu {
  width: 100%;
}

/* The navigation menu links */
.mob-menu-items a {
  display: inline-block;
  text-align: left;
  width: 100%;
  padding: 3px 0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: all 0.3s;
  padding: 8px 0 8px 20px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.36);
  position: relative;
}

.mob-menu-items i.fa-angle-down,
.mob-menu-items i.fa-angle-up {
  position: absolute;
  right: 12%;
  bottom: 10px;
}

.mobile-second-lvl a {
  padding-left: 40px;
}

.mobile-third-lvl a {
  padding-left: 60px;
}

.panel-collapse {
  padding-left: 0px;
}

/*********************************/
/**************************** Top Row Above Menu *********************************/

.top-row,
.wrapper-logo {
  height: 110px;
}

.top-bar {
  height: 30px;
  overflow: hidden;
}

.top-links {
  margin-top: 5px;
}

.top-bar .top-menu-link {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 4px;
}

.top-menu-items-left {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}
.top-menu-items-right {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.top-bar .top-menu-link:after {
  padding-left: 10px;
  content: "|";
}

.search-bar-col,
.selling-points,
.account-cart-col,
.wrapper-logo {
  height: 110px;
}

.search-bar-col {
  text-align: right;
}

@media only screen and (min-width: 767px) {
  .search-bar-col,
  .selling-points,
  .account-cart-col,
  .wrapper-logo {
    height: 180px;
    position: relative;
  }
}

.search-field {
  width: 100%;
}

.header-ajax-search {
  width: 90%;
  border: none;
  outline: none;
  text-align: center;
}

.logo {
  padding: 10px 0px;
  max-width: 90%;
  max-height: 100px;
  margin: 0px;
}

@media only screen and (min-width: 767px) {
  .logo {
    padding: 10px 0px;
    max-width: 100%;
    max-height: 160px;
    margin: 0px;
  }
}

.account-cart-col {
  padding-right: 10px;
}

.btn.search {
  z-index: 100;
  bottom: 1px;
  left: -5px;
  min-width: 0px;
  outline: none;
  font-size: 18px;
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;
}

@media only screen and (min-width: 767px) {
  .btn.search {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    min-width: 0px;
    outline: none;
    font-size: 20px;
    border-radius: 50%;
    left: 26px;
  }
}

.btn.search:hover {
  cursor: pointer;
}

.top-btn-search,
.top-btn-account,
.top-btn-cart {
  position: relative;
  display: inline-block;
  min-width: 0px;
  outline: none;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
}

.top-btn-account {
  margin: 0px 1px;
}

.top-btn-cart {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .top-btn-account {
    color: #fff;
    min-width: 0px;
    outline: none;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    margin: 0px 10px;
    display: inline-block;
    height: 55px;
    width: 55px;
  }

  .top-btn-cart {
    color: #fff;
    min-width: 0px;
    outline: none;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    display: inline-block;
    height: 55px;
    width: 55px;
  }
}

.btn-account-label,
.btn-cart-label {
  position: absolute;
  right: 4px;
  bottom: -20px;
  font-size: 12px;
}

.btn-cart-label {
  right: 16px;
}

/******************************************************************************/
/********************************** MAIN NAVIGATION **************************/

.navbar {
  margin: 0;
  border: none;
  min-height: 40px;
}
.header-divider {
  background-color: rgba(255, 255, 255, 0.92);
  z-index: 1000;
  margin-top: 0px;
  border-radius: 0;
  padding-right: 0;
}

.menu-container {
  position: relative;
}
.category-menu {
  text-align: center;
  margin-bottom: 0;
  box-shadow: 0 2px 2px -2px rgba(51, 51, 51, 0.37);
  padding: 0 50px;
  margin: 0 auto;
}
.category-menu a {
  font-size: 18px;
}

.category-menu .dropdown-menu {
  top: 120%;
  display: block;
  transition: none;
  opacity: 0;
  visibility: hidden;
}

.dropdown:hover > .dropdown-menu {
  top: 96%;
  z-index: 9999;
  opacity: 1;
  display: block;
  transition: opacity 0.3s ease-in 0.1s, top 0.3s ease-in 0.1s;
  visibility: visible;
}

.first-level-li {
  display: inline-block;
  margin-left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  font-size: 13px;
}

.first-level-li a {
  display: inline-block;
  padding: 15px 12px;
}

.category-menu > .first-level-li:hover > a {
  color: #ffffff;
}

.menu-container .dropdown:hover > .dropdown-menu {
  min-width: 100%;
}

.dropdown-menu {
  top: 100%;
  border-radius: 0;
  border: none;
  padding: 0;
  left: 0px;
}

.sub-category-toggle {
  color: #333;
  right: 0;
  padding: 10px;
  font-size: 19px;
}

.sub-category-toggle:hover {
  cursor: pointer;
}

.dropdown-menu li a {
  margin-left: 30px;
}
.dropdown-menu li a,
.dropdown-submenu li a {
  padding: 3px 0;
  margin: 0;
}

.first-level-li:hover .down-caret-menu {
  color: #ffffff;
}

.second-lvl-menu {
  padding-left: 20px;
}

.menu-container .dropdown-menu > li > a {
  display: inline-block;
  white-space: normal;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a {
  display: inline-block;
}

.dropdown-submenu .dropdown-menu {
  position: relative;
}

.arrow_box {
  background: #ffffff;
  border: 4px solid #ffffff;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 3px 10px rgba(0, 0, 0, 0.23);
  width: 218px; /*Width is required to prevent the tranform/blurry-text bug */
}

.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.down-caret-menu {
  margin-right: 10px;
}

.utility-btns {
  position: absolute;
  bottom: 10px;
  left: -70px;
  width: 65px;
}

.cart-box,
.love-box {
  border-radius: 50%;
  z-index: 9999;
  transition: all 0.5s;
  color: #ffffff;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border-color: transparent;
}

.cart-box:hover {
  cursor: pointer;
}

.cart-box {
  height: 55px;
  width: 55px;
  margin-bottom: 5px;
}

.love-box {
  height: 55px;
  width: 55px;
}

.mobile-love-box {
  display: none;
  margin-bottom: 5px;
}

.primary-fab,
.menu-fab {
  margin-bottom: 5px;
}

.open-sidenav {
  display: none;
}

.navbar-nav.closed-menu {
  margin: 0;
}

.item-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 15px;
}
.cart-box i.fa-shopping-cart,
.cart-box-mobile-menu i.fa-shopping-cart {
  font-size: 25px;
}

.love-box i.fa-heart {
  font-size: 20px;
}

.cart-box p {
  font-size: 13px;
  padding-top: 5px;
  margin: 0;
}

.inner-search {
  float: right;
  display: inline-block;
  width: 10%;
  text-align: center;
  border: none;
  background-color: transparent;
}

.mobile-search-bar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-search-bar {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.nsearchinput-pl.well {
  top: -6px;
  left: 0px;
  text-align: left;
}

/**** FAB Cart Items - Edit with caution ***/

a#cartcontentsheader {
  color: #ffffff;
}

#neto-dropdown .right .title i {
  display: block;
  text-align: left;
  font-size: 10px;
  margin: 3px 0px;
}

#cartcontents .thumb_cart ul .left {
  float: right;
  margin-right: 5px;
  width: 50px;
}

.thumb_cart:hover {
  cursor: pointer;
}

.thumb_cart ul .left img {
  width: 50px;
  height: 50px;
}

#neto-dropdown {
  position: absolute;
  right: -16px;
  bottom: -15px;
  border-top-left-radius: 10%;
  width: 280px;
}

#neto-dropdown button {
  display: none;
}

#cartcontents .small {
  display: none;
}

.thumb_cart {
  color: transparent;
  cursor: default;
}

.right .price {
  position: relative;
  clip-path: initial;
  padding: initial;
  background-color: transparent;
}

#cartcontents .left img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.right img {
  margin-right: -6px;
}

#cartcontents .thumb_cart .right {
  position: absolute;
  right: 80px;
  margin: 0px;
  width: 200px !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 2px 7px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.thumb_cart ul .right {
  text-align: center;
}

#cartcontents .thumb_cart ul li {
  overflow: hidden;
  height: 65px;
}

.dropdown-menu #neto-dropdown a {
  font-size: 14px;
}

.thumb-cart li:hover {
  background-color: white !important;
}

.thumb-cart:hover {
  opacity: 1;
  display: block;
}

.thumb_cart .right {
  opacity: 0;
  padding: 10px;
}

.thumb_cart .left:hover + .right {
  opacity: 1 !important;
  background-color: white !important;
  transition: all 0.3s;
}

.thumb_cart .left + .right {
  transition-delay: 0.2s;
}

.thumb_cart .right:hover {
  opacity: 1 !important;
  background-color: white !important;
  transition: all 0.3s;
}

.thumb_cart .title,
.thumb_cart .price {
  margin-top: -3px;
}

/*********************/

/****************************************************************************/
/*************************** HERO SECTION **************************************/

.neto-placeholder-rotator {
  height: 100%;
}

.page-header {
  margin-top: 25px;
}

.home-slider .slick-list.draggable {
  padding-bottom: 0px !important;
}

.carousel-btn {
  margin-top: 10px;
}

.homepage-carousel-wrapper {
  height: 280px;
}

.carousel-caption {
  opacity: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  color: #fff;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 0px;
}

.carousel-caption-inner {
  width: 80%;
  margin-left: 10%;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .carousel-caption-inner {
    padding: 5px;
  }

  .carousel-caption h1 {
    font-size: 21px;
  }
}

@media only screen and (min-width: 767px) {
  .homepage-carousel-wrapper {
    height: 550px;
  }

  .carousel-caption-inner {
    width: 50%;
    margin-left: 25%;
  }
}

.slick-list,
.slick-track,
.slick-slider {
  height: 100%;
}

#homepageCarousel {
  height: 30vh;
}

@media only screen and (min-width: 767px) {
  #homepageCarousel {
    height: 60vh;
  }
}

.carousel-inner,
.item.active,
.home-banner-item {
  height: 100%;
}

.advert-description {
  font-size: 15px;
}

@media only screen and (min-width: 767px) {
  .advert-description {
    font-size: 20px;
  }
}

.carousel-caption h1 {
  font-size: 26px;
  font-weight: 200 !important;
}

@media only screen and (min-width: 767px) {
  .carousel-caption h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel-caption h1 {
    font-size: 75px;
  }
}

.hero.container,
.hero.row {
  height: inherit;
}

/*Homepage wysiwig content*/

.homepage-content-wrapper {
  display: table;
}

.homepage-content-right img {
  max-width: 400px;
}

.homepage-content-left,
.homepage-content-right {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#homepage-content p,
#homepage-content p span {
  font-family: "Source Sans Pro" !important;
  font-size: 16px !important;
}

@media only screen and (min-width: 767px) {
  .homepage-content-left,
  .homepage-content-right {
    position: relative;
    min-height: 250px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .homepage-content-left p {
    line-height: 1.85;
  }
}

/*****************/

/***************************************************************************/
/**************************** BRANDS PANEL **********************************/

.brands-panel {
  padding: 0px;
}

@media only screen and (min-width: 767px) {
  .brands-panel {
    padding: 20px 0;
  }
}

.featured-brands {
  display: none;
}
.featured-brands.slick-initialized {
  display: block;
}

.featured-brands img {
  max-width: 100%;
  padding: 0 10px;
  max-height: 75px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
  filter: grayscale(100%);
}

.brands-panel .slick-track {
  padding-top: 30px;
}

.brands-panel .slick-current img {
  filter: initial; /*Current image has colour*/
  transform: scale(1.3);
  transition: all 0.5s;
}

.show-brands-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 767px) {
  .show-brands-wrapper {
    padding-bottom: 5px;
  }
}

.brands-panel .geometric-btn {
  margin-top: 0px;
  margin-bottom: 10px;
}

.thumbnail-brand.brand-image img {
  height: 50px;
  object-fit: contain;
  object-position: center;
}

.brand-img {
  max-width: 100%;
}

.thumbnail-brand {
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: center;
  height: 90px;
}

.thumbnail-brand > a {
  padding: 10px 0;
  display: block;
}

.wrapper-brands {
  margin-top: 70px;
}

/******************************************************************************/
/***************************** HOMEPAGE PRODUCTS ******************************/

#categoriesBtn,
#categoriesBtn2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 767px) {
  #categoriesBtn,
  #categoriesBtn2 {
    margin-top: 59px;
    margin-bottom: 0px;
    padding: 15px 25px;
  }
}

/*Thumbnails*/

.thumbnail-addtocart,
.thumbnail-moreinfo {
  display: inline-block;
  min-width: 35%;
  margin: 0 5px;
}

.show-love {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  margin-top: 0;
}

.show-love .fa {
  font-size: 18px;
  margin-top: 2px;
}

.thumbnail-overlay {
  position: absolute;
  bottom: 5px;
  height: 40px;
  width: 100%;
}

.thumbnail-wish-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* This is a fallback for the wishlist animation. For some reason the browing history function blocks JS */

.product-history .product-image-wrapper:hover .thumbnail-wish-wrapper {
  opacity: 1;
}

/*******/

.wishlist-subtitle {
  opacity: 1;
  margin-top: -25px;
}

.wishlist-thumbs {
  padding: 0 20px;
}

.wishlist-options {
  padding: 0 15px;
}

.wish-overlay .show-love {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.wish-overlay .wish-nolove:after {
  content: "Click to add to wishlist!";
  font-size: 18px;
  font-style: normal;
  color: white;
  margin-left: 10px;
}

.wish-overlay .wish-love:after {
  content: "Click to remove from wishlist";
  font-size: 18px;
  font-style: normal;
  color: white;
  margin-left: 10px;
}

.mobile-love-icon-wrapper,
.mobile-nolove-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 20px;
  border-radius: 50%;
}

.mobile-thumbnail-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wish-icon.fa {
  font-size: 25px;
}

@media only screen and (min-width: 992px) {
  .wish-icon.fa {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .product-image-wrapper:hover .wish-icon.fa {
    opacity: 1;
  }
}

.wish-overlay .wish-nolove,
.wish-overlay .wish-love {
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .show-love {
    width: 60px;
    height: 60px;
  }
  .show-love .fa {
    font-size: 25px;
  }
}

.product-details-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: #ffffff;
}

.thumbnail-btn-wrapper {
  margin-top: 20px;
  height: 40px;
}

.form-inline.buying-options {
  width: 100%;
  text-align: center;
}

/*************/

.homepage-grid-section {
  padding-bottom: 0;
  margin-top: 0;
}

.ribbon-heading-center.home-products {
  margin-bottom: 40px;
  margin-top: 40px;
}

.ribbon-heading-center {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  padding: 15px 60px 10px 60px;
  margin-bottom: 0;
  clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
  text-transform: uppercase;
  position: relative;
}

@media only screen and (min-width: 767px) {
  .ribbon-heading-center {
    margin-top: 110px;
    margin-bottom: 70px;
    font-size: 50px;
    padding: 30px 80px 20px 80px;
  }

  .ribbon-heading-center.home-products {
    margin-bottom: 70px;
    margin-top: 110px;
  }
}

.ribbon-heading-center.products-page {
  margin-top: 45px;
}

.ribbon-container {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.price-tag,
.sale-tag {
  color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%);
  padding: 1px 22px 1px 10px;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

/****************************PRODUCT CATEGORIES********************************************/

/********* Thumbs*************/

@media only screen and (min-width: 767px) {
  .homepage-categories {
    margin-bottom: 100px;
  }
}

.product {
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  display: table;
}

@media only screen and (min-width: 992px) {
  .product {
    display: block;
    height: auto;
    margin-bottom: 75px;
  }
  .product:hover {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
}

.list-product {
  overflow: visible;
  margin-bottom: 20px;
}

.thumbnail-price {
  font-size: 25px;
  margin-bottom: 23px;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .thumbnail-price {
    font-size: 35px;
  }
}

.product-image-wrapper {
  position: relative;
  padding: 0;
}

.product-image-wrapper img {
  width: 100%;
}

.product-details-wrapper {
  border-top: 0;
  padding: 10px;
  height: initial;
}

.product-title {
  text-align: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  padding: 10px 0;
  max-width: 100%;
  line-height: 1;
  margin-top: -10%;
}

@media only screen and (min-width: 500px) {
  .product-title {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .product-title {
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0;
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) {
  .product-short-desc {
    height: 65px;
  }

  .thumbnail-btn-wrapper {
    margin-bottom: 15px;
  }
}

/*******************************/

.homepage-categories {
  margin-top: 30px;
}

.category-wrapper {
  margin-top: 20px;
  text-align: center;
}

.nice-select.wide.category-sort {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .category-wrapper {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .homepage-categories {
    margin-top: 0px;
  }

  .nice-select.wide.category-sort {
    width: 30%;
    margin-left: 35%;
  }
}

.category-geometric {
  position: relative;
  margin-top: 540px;
  height: 150px;
  margin: 0 auto;
}

@media only screen and (min-width: 550px) {
  .category-geometric {
    height: 200px;
  }
}

@media only screen and (min-width: 992px) {
  .category-geometric {
    height: 250px;
    width: 100%;
    padding: 0px 5px;
  }
}

.category-img {
  background-size: cover !important;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.category-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
}

.category-overlay p {
  padding: 30px;
  text-align: center;
  font-size: 16px;
}

.category-wrapper:hover .category-overlay {
  opacity: 100;
}

.wishlist-label {
  display: inline-block;
  text-align: center;
  padding: 20px 15px 20px 15px;
  color: #ffffff;
  font-size: 23px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .wishlist-label {
    display: block;
    padding: 40px 20px 40px 20px;
    color: #ffffff;
    font-size: 30px;
    width: auto;
    margin-left: auto;
  }
}

/***********Category Page**************/

section.category-header {
  padding: 40px 0;
}

.sort-title {
  font-size: 20px;
}

.category-sort li,
.category-sort .current {
  font-size: 16px;
}

#sidebarToggle {
  background-color: #ffffff;
  margin-bottom: -56px;
  border-radius: 0px;
  padding: 9px 13px;
}

.category-heading-wrapper .ribbon-heading-center {
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 93% 50%, 100% 100%, 0 100%);
  padding: 30px 100px 20px 37px;
}

.category-heading-wrapper {
  display: table;
}

@media only screen and (max-width: 1200px) {
  .category-heading.center-table {
    display: block;
  }
}

.subcategory-items {
  padding-top: 50px;
  width: 100%;
}

.category-heading {
  justify-content: left;
}

.category-header-wrapper {
  padding: 0 75px;
}

@media only screen and (max-width: 992px) {
  .panel-heading-thumbnails.sidebar {
    margin-top: 20px;
    padding: 10px 0px;
    color: #ffffff;
    text-align: center;
  }

  .panel-heading-thumbnails.sidebar a h4 {
    padding: 0;
    margin: 3px 0px 0px 0px;
  }

  .panel-heading-thumbnails.sidebar h4 {
    color: #ffffff;
    text-transform: uppercase;
  }

  #category-content .sort_container {
    padding: 5px 0;
  }

  #results-wrapper #left-sidebar {
    margin-bottom: 0px;
  }
}

#left-sidebar {
  /* for the animation */
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-bottom: 20px;
  margin-top: 20px;
}

#left-sidebar .panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.filter-title {
  color: #ffffff;
  margin: 0;
}

#filters {
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  .filter-title {
    color: initial;
    margin: initial;
  }
}

#left-sidebar .list-group li.filter {
  margin-left: 30px;
}

.collapseit {
  /* hide it for small displays*/
  display: none;
}

@media (min-width: 992px) {
  .collapseit {
    display: block;
    /* same width as sidebar */
    margin-left: -30%;
  }
}

#category-content {
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.thumbnail-width {
  transition: all 0.3s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

button#sidebarToggle:before {
  content: "\f1de";
  font-family: fontawesome;
}

.subcategory-thumb {
  display: inline-block;
  padding: 0 12px;
}

.subcategory-img-wrapper {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  height: 75px;
  width: 75px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid white;
}

.category-heading h1 {
  color: #ffffff;
  padding-top: 20px;
  margin: 0;
  font-size: 40px;
}

@media only screen and (min-width: 992px) {
  .category-heading {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .category-heading h1 {
    font-size: 60px;
    padding: 110px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .subcategory-items {
    padding: 50px 0;
  }

  .subcategory-img-wrapper {
    height: 120px;
    width: 120px;
  }
}

.sort_container {
  padding: 28px 10px;
}

.panel-heading-thumbnails {
  margin-top: 30px;
}

@media (min-width: 992px) {
  #filters,
  #categories-sidebar {
    height: auto;
    overflow-x: hidden;
    display: block;
  }
}

.category-heading {
  text-align: center;
  justify-content: center;
}

.category-heading-wrapper .ribbon-heading-center {
  margin: 0;
  clip-path: polygon(0 0, 100% 0, 93% 50%, 100% 100%, 0 100%, 7% 50%);
  padding: 30px 100px 20px 100px;
}

.category-label {
  display: inline-block;
  text-align: center;
  padding: 9px 15px 8px 15px;
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 70%;
  margin-left: 15%;
}

@media only screen and (min-width: 992px) {
  .category-label {
    display: block;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 0px;
    bottom: auto;
    width: auto;
    margin-left: auto;
  }
}

/***************Product Page**********************/

.products-page-header {
  padding: 100px 0;
  margin-bottom: 75px;
}

.products-heading-wrapper h1 {
  font-size: 50px;
}

.product-image-slider {
  height: 200px;
}

.product-image-slider {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.product-image-slider.slick-initialized {
  opacity: 1;
}

.product-variations-dropdown {
  margin-bottom: 30px;
}

#_jstl__buying_options {
  position: relative;
}

.stock-alert {
  position: absolute;
  bottom: 80px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s ease;
  overflow: hidden;
  height: 0;
  z-index: 6000;
}

.buying-options-btn-wrapper {
  margin-top: 20px;
}

@media only screen and (min-width: 767px) {
  .buying-options-btn-wrapper {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .stock-alert {
    bottom: 45px;
  }
}

.expandHeight {
  transform: scaleY(1);
  height: auto;
}

.pp-product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  transform: translate(-50%, -50%);
  max-height: 175px;
}

@media only screen and (min-width: 767px) {
  .product-image-slider {
    height: 400px;
  }

  .pp-product-img {
    max-height: 375px;
  }
}

.no-stock-retail {
  margin-top: 20px;
}

.wrapper-pricing {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.product-description {
  padding-bottom: 20px;
}

.reviews-panel {
  padding: 50px 0;
  margin: 50px 0;
}

.extra-options {
  padding-bottom: 40px;
}

.star-rating i {
  font-size: 32px;
}

.reviews-panel .reviews-title {
  padding-bottom: 20px;
}

.product-review-title {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.product-review {
  margin-top: 15px;
  margin-bottom: 30px;
}

.pagination-container {
  margin: 60px 0 40px;
}

.geometric-pagination {
  height: 77px;
  position: relative;
}

.pagination-strikethrough {
  z-index: -1;
  border-width: 1.5px;
}

.geometric-pagination .pagination-next,
.geometric-pagination .pagination-prev {
  display: inline-block;
  padding: 20px 15px;
}

.pagination-label {
  display: none;
}

@media only screen and (min-width: 600px) {
  .geometric-pagination .pagination-next,
  .geometric-pagination .pagination-prev {
    padding: 20px 34px;
  }

  .pagination-label {
    display: inline-block;
  }
}

.pagination-next i,
.pagination-prev i {
  font-size: 25px;
  vertical-align: middle;
}

.pagination-next {
  right: 15px;
}

.pagination-next i {
  margin-left: 5px;
}

.pagination-prev i {
  margin-right: 5px;
}

.pagination-child {
  display: inline-block;
}

.pagination-child .pagination-center {
  margin: 0 2px;
}

.product-more-info {
  margin-bottom: 30px;
}

.product-more-info a {
  font-size: 15px;
}

.product-more-info:hover {
  cursor: pointer;
}

.pagination-center.go-back,
.pagination-center.go-forward {
  padding: 5px 14px;
}

.tab-pane {
  margin-bottom: 30px;
}

.active.pagination-child {
  margin-top: 15px;
}

.wishlist-icon-buyopt {
  margin-left: 5px;
}

/***********Search Results**************/

.search-heading-wrapper {
  padding: 75px;
}

/**************** FIXED BACKGROUND HOME AD SECTION ***********************************/

input.newsletter-btn {
  transition: all 0.3s;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  margin-left: -35px;
  z-index: 100;
  font-family: fontAwesome;
  margin-top: -1px;
}

.newsletter-email {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding-left: 35px;
  height: 70px;
  border: 1px solid #ffffff;
  box-shadow: none;
}

.home-ad-section {
  display: table;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.home-ad-overlay {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

#subscribe-form .input-group-btn {
  position: static;
}

.home-ad-text h3 {
  color: #ffffff;
  z-index: 5000;
  text-align: center;
}

.home-ad-description {
  font-size: 16px;
}

.home-ad-text h3 {
  font-size: 30px;
}

@media only screen and (min-width: 767px) {
  .home-ad-text h3 {
    font-size: 55px;
  }

  .home-ad-description {
    font-size: 24px;
  }
}

#subscribe-form {
  display: inline-block;
  width: 80%;
  position: relative;
}

/*************************************************************************/
/******************** FOOTER ********************************************/
.footer-newsletter {
  position: relative;
  width: 100%;
  color: #ffffff;
  margin: 0;
  transform: translateY(-50%);
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0), 5px 5px 4px rgba(0, 0, 0, 0.15);
}

.footer-newsletter-text {
  padding: 30px 30px 0px 30px;
}

.footer-newsletter-signup {
  padding-bottom: 30px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px;
}

@media only screen and (min-width: 600px) {
  .footer-newsletter {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1400px) {
  .footer-newsletter {
    width: 50%;
    margin-left: 25%;
  }
}

@media only screen and (min-width: 767px) {
  .footer-newsletter-text,
  .footer-newsletter-signup {
    padding: 30px;
  }
}

footer address {
  margin-top: 30px;
}

.footer-newsletter-text h3 {
  font-size: 27px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-newsletter-text p {
  font-size: 18px;
}

footer {
  position: relative;
  padding-bottom: 40px;
  display: inline-block;
  width: 100%;
  margin-bottom: -10px;
  margin-top: 165px;
}

.footer-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(73, 83, 90, 0.85);
  pointer-events: none;
}

.footer-heading {
  margin-bottom: 40px;
}

@media only screen and (min-width: 767px) {
  footer h4 {
    font-size: 25px;
  }
}

.footer-content {
  padding-top: 20px;
  text-align: center;
  margin-top: -100px;
}

@media only screen and (min-width: 767px) {
  .footer-content {
    text-align: left;
    margin-top: -20px;
  }
}

.stay-in-touch .list-inline {
  width: 80%;
  margin-left: 10%;
}

footer .fa {
  font-size: 30px;
  color: #ffffff;
}

.nactivity {
  display: none;
}

/**********************************************************************/
/********************** MEDIA QUERIES ********************************/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */

@media only screen and (min-width: 767px) {
  .product-name {
    transition: all 0.5s;
  }

  .search-bar {
    width: 85%;
    padding-left: 65px;
    border-width: 0.5px !important;
    border-style: solid;
    font-size: 15px;
    padding: 16px 16px 16px 26px;
    background-color: transparent;
    float: left;
    position: relative;
    border-radius: 30px;
    transition: all 0.5s;
  }

  .search-bar-col form {
    width: 90%;
  }

  .brands-panel .btn {
    margin-top: 10px;
  }
}

/* Large Devices, Wide Screens */
/* Extra Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .homepage-grid {
    padding: 0 15%;
  }
}

/********** From style.css ****************/

@media only screen and (min-width: 767px) {
  .top-row,
  .wrapper-logo {
    height: 180px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.nav .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  border-top-color: #777777;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #f8f8f8;
  color: #333333;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.dropdown-menu {
  background-color: #ffffff;
}
.dropdown-menu .divider {
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  color: #333333;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #aecbe8;
}

.well {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
.panel-default {
  border-color: #dddddd;
}
.panel-title {
  color: #333333;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}

.carousel-caption {
  text-shadow: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.footer-newsletter-signup .input-group-btn > input.newsletter-btn {
  border-radius: 50%;
}

.breadcrumb {
  background-color: transparent;
  padding: 8px 0;
}

.search-results-header + .categories-wrapper {
  margin-top: 80px;
}

.search-results-header + .categories-wrapper .sidebar-description {
  display: none;
}

.label {
  display: inline-block;
  padding: 0.2em 0.6em 0.3em;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25em;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: transparent;
}

#subscribe-form .input-group-btn {
  position: absolute;
  right: 38px;
  z-index: 1000;
}

#subscribe-form .input-group {
  width: 100%;
}

input.form-control.newsletter-email {
  padding-right: 50px;
}

/*Classes for sticky header (improved 15/04/18)*/

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.mt-55 {
  margin-top: 55px !important;
}
/************/

.wrapper-header {
  overflow: visible !important;
}

.sticky-nav-wrapper {
  z-index: -1;
}

.search-field {
  z-index: 1000;
}

.nsearchinput-pl.well {
  top: -3px;
}

@media only screen and (min-width: 992px) {
  .category-heading-wrapper {
    min-height: 145px;
  }
}

.pagination-label {
  padding: 0 5px;
}

/*** May 2018 Improvements ***/

/*Carousel now not a background image*/

.home-slider.slick-initialized {
  visibility: visible;
  opacity: 1;
}
.home-slider {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.home-slider .slick-slide img {
  width: 100%;
}

.homepage-carousel-wrapper {
  height: auto;
}

.relative {
  position: relative;
}

/*****/

/*********************/

.color-inherit {
  color: inherit;
}

.fancybox-overlay-fixed {
  z-index: 99999;
}

.modal {
  z-index: 9999;
}

.top-bar {
  overflow: visible;
}

.top-row {
  width: 100%;
}

.top-bar > .container.wide-container {
  overflow: visible;
}

.top-bar .dropdown-menu .top-menu-link:after {
  padding-left: auto;
  content: "";
  display: none;
}

.top-bar .top-menu-link {
  padding-bottom: 5px;
}

.dropdown-menu {
  margin-top: 0;
}

/****** BLOG THUMBS*******/

.blog-date-wrapper {
  position: absolute;
  padding: 5px 10px;
  border-radius: 20px;
  right: 10px;
  top: 10px;
  color: #ffffff;
  font-size: 12px;
}
.blog-date-wrapper i {
  margin-right: 8px;
}

.blog-heading {
  line-height: 1.25;
  font-size: 19px;
}
.blog-author,
.blog-date {
  margin: 0;
}
.blog-thumb-text-wrapper h4 {
  height: 65px;
}
.blog-img {
  background-size: cover !important;
}

.blog-img {
  height: 220px;
}
.blog-wrapper {
  background-color: #f6f6f6;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.blog-wrapper:hover {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}
.blog-thumb-text-wrapper {
  padding: 15px;
}

@media only screen and (max-width: 1200px) {
  .blog-thumb-text-wrapper h4 {
    height: 115px;
  }
  .blog-heading {
    line-height: 1;
    font-size: 16px;
  }
}

/******Fix mobile carousel*******/

@media only screen and (max-width: 767px) {
  .home-slider .slick-slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

#shipbox, .mb-1 {
  margin-bottom: 15px;
}