<div class="col-xs-6 col-sm-4 col-md-3">
	[%set [@brand-img@]%][%ASSET_URL type:'content' id:'[@content_id@]' default:''%][%END ASSET_URL%][%/set%]
	<div class="thumbnail-brand [%if [@brand-img@]%]brand-image[%else%]brand-name[%/if%]">
		[%if [@brand-img@]%]
			<a href="[@URL@]" content="[@content_name@]" itemprop="url">
				<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:''%][%END ASSET_URL%]" class="brand-img"/>
			</a>
		[%else%]
			<a href="[@URL@]" content="[@content_name@]" itemprop="url"><span>[@name@]</span></a>
		[%/if%]
	</div>
</div>