<div class="thumbnail-width col-xs-12 col-sm-12 col-md-6 [%if [@sidebarOpen@] eq 'true'%]col-lg-4[%else%] col-lg-3 [%/if%]">
    <div class="product neutral-mid-border">
		<div class="product-image-wrapper col-xs-6 col-md-12 center-table-sm-down">
			<div class="mobile-thumbnail-wishlist">
				[%if [@config:show_wishlist@]%]
					<span class="product-wishlist">
						[%in_wishlist id:'[@SKU@]' %]
							[%param if_true%]
								<a class="wishlist_toggle selected" rel="[@SKU@]">
									<div class="mobile-love-icon-wrapper  text-center">
										<span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart wish-love primary-color text-center wish-icon"></i></span>
									</div>
								</a>
							[%/param%]
							[%param if_false%]
								<a class="wishlist_toggle unselected" rel="[@SKU@]">
									<div class="mobile-nolove-icon-wrapper text-center"> 
										<span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o wish-nolove primary-color text-center wish-icon"></i></span>
									</div>
								</a>
							[%/param%]
						[%/in_wishlist%]
					</span>
				[%/if%]
			</div>

			<a href="[@url@]">
				<img src="[%asset_url type:'product' thumb:'thumbL' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="img-responsive product-thumbnail">
			</a>

			<div class="ribbon-container">
				[%if [@save@] > 0 AND ![@has_child@] %]
					<span class="price-tag primary-background">
						[%format type:'percent'%][@save@][%/format%] OFF
					</span>
				[%/if%]
				[%if [@inpromo@]%]
					<span class="sale-tag secondary-background">On Sale</span>
				[%/if%]
			</div>
		</div>

		<div class="product-details-wrapper white-background clearfix col-xs-6 col-md-12 center-table-sm-down text-center">
			<a href="[@url@]">
				<div class="clearfix">
					<p class="product-title neutral-dark">[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/FORMAT%]</p> 
				</div>  
				<h3 class="text-center thumbnail-price">
					[%if [@inpromo@]%]
						Now&nbsp;[%if [@has_child@]%]from&nbsp;[%/if%]
						<meta itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]"/>
						<span itemprop="price" content="[@promo_price@]">[%format type:'currency'%][@promo_price@][%/format%]</span>
					[%else%]
						[%if [@has_child@]%]From&nbsp;[%/if%]
						<span itemprop="price" content="[@store_price@]">[%format type:'currency'%][@store_price@][%/format%]</span>
					[%/if%]
				</h3>
			</a>  
			[%if [@form:disable_scripts@] ne 'true'%][%tracking_code type:'Thumbnails' /%][%/if%]
			<div class="thumbnail-btn-wrapper hidden-xs">
				<form class="form-inline buying-options">
					<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku[@rndm@][@SKU@]" value="[@SKU@]">
					<input type="hidden" id="model[@rndm@][@SKU@]" name="model[@rndm@][@SKU@]" value="[@model@]">
					<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb[@rndm@][@SKU@]" value="[@thumb@]">
					<input type="hidden" id="qty[@rndm@][@SKU@]" name="qty[@rndm@][@SKU@]" value="[%if [@min_qty@] > 0%][@min_qty@][%else%]1[%/if%]" class="input-tiny">
					[%if [@extra@] or [@has_child@] or [@editable_bundle@]%]
						<a href="[@URL@]" title="View [@model@] Buying Options" class="btn secondary-btn-ghost thumbnail-addtocart btn-loads geometric-centre" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">See Options</a>
					[%elseif [@available_preorder_quantity@] > 0 AND [@preorder@] AND [@config:WEBSTORE_USE_PREORDER_QUANTITY@]%]
						<button type="button" title="Pre-Order [@model@] Now!" class="addtocart btn tertiary-btn-solid thumbnail-addtocart btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
						<a href="[@URL@]" title="View more info on [@model@]" class="btn secondary-btn-ghost thumbnail-moreinfo" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">View</a>
					[%elseif [@store_quantity@] > 0 AND [@preorder@] AND ![@config:WEBSTORE_USE_PREORDER_QUANTITY@]%]
						<button type="button" title="Pre-Order [@model@] Now!" class="addtocart btn tertiary-btn-solid thumbnail-addtocart btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Pre-Order</button>
						<a href="[@URL@]" title="View more info on [@model@]" class="btn secondary-btn-ghost thumbnail-moreinfo" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">View</a>
					[%elseif [@store_quantity@] > 0 AND ![@preorder@] %]
						<a href="[@URL@]" title="View more info on [@model@]" class="btn secondary-btn-ghost thumbnail-moreinfo" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">View</a>
						<button type="button" title="Add [@model@] to Cart" class="addtocart btn primary-btn-solid thumbnail-addtocart btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Add to Cart</button>
					[%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
						<button type="button" title="Backorder [@model@]" class="addtocart btn tertiary-btn-solid thumbnail-addtocart btn-loads" rel="[@rndm@][@SKU@]" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Backorder</button>
						<a href="[@URL@]" title="View more info on [@model@]" class="btn secondary-btn-ghost thumbnail-moreinfo" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">View</a>
					[%else%]
						<a class="notify_popup btn disabled-btn thumbnail-addtocart btn-block btn-loads geometric-centre" href="[@url@]" title="Out of Stock" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>">Out of Stock</a>
					[%/if%]
				</form>     
			</div>
		</div>    
    </div>  
</div>
